<html>
  <body>
    <h2>Stock Alert: <%= itemName %></h2>
    <p>Dear recipient,</p>
    <p>
      This is an alert that the stock of <%= itemName %> has reached or fallen
      below minimum stock level.
    </p>
    <p>Regards,<br />Your Company</p>
  </body>
</html>
